{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    {% render_block "css" %}
    {% load staticfiles %}
	<link rel="Stylesheet" type="text/css" href='{% static "microblog/style.css" %}' />
</head>
<body>
{% cms_toolbar %}

	<div id="MENU">
		<div id="ELEMENTY_MENU">
			<ul>
				{% show_menu 0 100 0 100 %}
			</ul>
		</div>
	</div>
	<div id="TRESC">
		{% placeholder content %}
			<div id="TRESC_GLOWNA">
				{% block content %}
			</div>
		{% endblock content %}
	</div>


{% render_block "js" %}
</body>
</html>
