{% extends "microblog/microbase.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}
	<div id="TRESC">
		<div id="TRESC_GLOWNA">
            <center>
			    <form method="POST" action="{% url 'add' %}">{% csrf_token %}
                {{ forma.as_p }}
                <input type="submit" value="Dodaj"/>
            </form>
            </center>
		</div>
	</div>
{% endblock %}
</body>
</html>
