{% extends "microblog/microbase.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}
	<div id="TRESC">
		<div id="TRESC_GLOWNA">	
			<!--<div class="wpis">
				<div class="wpis_tresc">SELECT * FROM Aktualnosci</div>
				<div class="wpis_autor">Dodane przez: Patryk 2014-01-20 17:28:32</div>
			</div>-->
            {% for wiersz in wszystkie_wpisy %}
                <div class="wpis">
                    <div class="wpis_tresc">
                        {{ wiersz.tresc }}
                    </div>
                    <div class="wpis_autor">
                        Dodane przez: {{ wiersz.autor }} {{ wiersz.data }}
                    </div>
                </div>
            {% endfor %}
		</div>
	</div>
{% endblock %}

</body>
</html>
