{% extends "microblog/microbase.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}
	<div id="TRESC">
		<div id="TRESC_GLOWNA">	
			{% if typ == 'blad' %}
                <div id="walidacja_blad">{{ tresc }}</div>
            {% elif typ == 'ok' %}
                <div id="walidacja_ok">{{ tresc }}</div>
            {% endif %}
		</div>
	</div>
{% endblock %}
</body>
</html>
