{% load menu_tags %}

<b>
{% for child in children %}

		<a class="link" href="{{ child.get_absolute_url }}">{{ child.title }}</a>

        {% if child.children %}
		<div>
            {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
        </div>
	{% endif %}

{% endfor %}
</b>

