
{% for komentarz in komentarze %}
    <div>
        <b><div>{{ komentarz.autor }} {{ komentarz.data }}</div></b>
        <div>{{ komentarz.tresc }}</div>
    </div>
    <br>
{% endfor %}


<form action="{{ request.path }}" method="POST">
    {% csrf_token %}
    <table>
        {{ forma.as_p }}
        <tr>
            <td></td>
            <td><input type="submit" value="Dodaj komentarz"/></td>
        </tr>
    </table>
</form>
