#CALOSC {
	width: 80%;
	margin: 0 auto;
}

#DANE {
	width: 50%;
	float: left;
	color: red;
}

#MAPA{
	width: 200px;
	height: 200px;
	float: top;
}

#FACEBOOK {
	width: 300px;
	height: 200px;
	float: top;
}