{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    {% render_block "css" %}
    <style type="text/css">
        .nav {
            padding-left: 0;
        }
        .nav li {
            display: inline;
            list-style-type: none;
            padding-right: 20px;
        }
		#CALOSC {
			width: 80%;
			margin: 0 auto;
		}

		#DANE {
			padding-top: 80px;
			width: 50%;
			float: left;
		}

		#MAPA{
			width: 50%;
			float: left;
		}

		#FACEBOOK {
			margin-top: 30px;
			width: 100%;
			height: 200px;
			float: left;
			padding-left: 25px;
		}
		
		#PRAWA {
			float: right;
			height: 600px;
		}
		
		#LEWA {
			float: left;
			width: 60%;
		}
    </style>
</head>
<body>
{% cms_toolbar %}
<div style="width: 940px; margin:0 auto">
    <ul class="nav">
        {% show_menu 0 100 0 100 %}
    </ul>
    {% placeholder content %}
    {% block content %}
    {% endblock content %}
</div>
{% render_block "js" %}
</body>
</html>
