{% extends "base.html" %}
{% load cms_tags %}


{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}
	<div id="CALOSC">
			<div id="DANE">
				{% placeholder dane_kontaktowe %}
			</div>
			<div id="MAPA">
				{% placeholder mapa %}
			</div>
			<div id="FACEBOOK">
					{% placeholder facebook %}
			</div>
	</div>
{% endblock %}
