{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}
	<div id="naglowek">
	{% placeholder wstep %}
	</div>
	</br></br>
	<div id="ogloszenia">
	{% placeholder ogloszenia %}
	</div>
{% endblock %}
