{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}
    <div style="width:20%; float:left;">
        {% placeholder left_sidebar %}
    </div>
    <div style="width:80%; float:left;">
        {% placeholder left_content %}
    </div>
{% endblock content %}
